Repository luxass/github-actions-bundlers, changes with the labels that .github/labeler.yml gives for each.
All labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: rollup, bundler: tsup, bundler: swc, bundler: tsc, bundler: rspack, ðŸš¨ ci

ci: add pr linter
  .github/workflows/pr-linter.yaml
Labels: ðŸš¨ ci

ci: add basic workflow
  .github/workflows/ci.yaml
Labels: ðŸš¨ ci

chore: add build step to esbuild
  actions/esbuild/action.yaml
  actions/esbuild/dist/index.js
  actions/esbuild/eslint.config.mjs
  actions/esbuild/package.json
  actions/esbuild/src/index.ts
  actions/ncc/action.yaml
  actions/ncc/eslint.config.mjs
  actions/rspack/action.yaml
  actions/rspack/eslint.config.mjs
  actions/swc/action.yaml
  actions/swc/eslint.config.mjs
  actions/tsup/eslint.config.mjs
  actions/webpack/action.yaml
  actions/webpack/eslint.config.mjs
  pnpm-lock.yaml
Labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: tsup, bundler: swc, bundler: rspack

dump
  .github/workflows/hello-world.yaml
  actions/webpack/package.json
  eslint.config.mjs
  package.json
  scripts/update-hello-world-workflow.ts
Labels: bundler: webpack, ðŸš¨ ci

feat: add more working examples
  actions/esbuild/action.yaml
  actions/esbuild/dist/index.js
  actions/esbuild/package.json
  actions/esbuild/tsconfig.json
  actions/ncc/dist/index.js
  actions/ncc/package.json
  actions/ncc/src/index.ts
  actions/ncc/tsconfig.json
  actions/rspack/dist/index.js
  actions/rspack/dist/index.js.map
  actions/rspack/package.json
  actions/rspack/rspack.config.js
  actions/rspack/src/index.ts
  actions/rspack/tsconfig.json
  actions/swc/package.json
  actions/swc/tsconfig.json
  actions/tsup/dist/index.js
  actions/tsup/package.json
  actions/tsup/tsconfig.json
  actions/tsup/tsup.config.ts
  actions/webpack/dist/index.js
  actions/webpack/package.json
  actions/webpack/src/index.ts
  actions/webpack/tsconfig.json
  actions/webpack/webpack.config.mjs
  pnpm-lock.yaml
Labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: tsup, bundler: swc, bundler: rspack

fix: remove type module
  actions/ncc/package.json
  actions/rspack/package.json
  actions/swc/package.json
  actions/tsup/package.json
  actions/webpack/package.json
  actions/webpack/webpack.config.js
Labels: bundler: ncc, bundler: webpack, bundler: tsup, bundler: swc, bundler: rspack

fix(tsup): bundle all node_modules
  actions/tsup/dist/index.js
  actions/tsup/tsup.config.ts
Labels: bundler: tsup

feat: remove swc
  actions/swc/action.yaml
  actions/swc/eslint.config.mjs
  actions/swc/package.json
  actions/swc/tsconfig.json
  pnpm-lock.yaml
Labels: bundler: swc

feat(rollup): add rollup as bundler
  .github/workflows/hello-world.yaml
  actions/rollup/action.yaml
  actions/rollup/dist/index.js
  actions/rollup/eslint.config.mjs
  actions/rollup/package.json
  actions/rollup/rollup.config.js
  actions/rollup/src/index.ts
  actions/rollup/tsconfig.json
  pnpm-lock.yaml
Labels: bundler: rollup, ðŸš¨ ci

feat: real action use case
  .github/workflows/hello-world.yaml
  actions/esbuild/dist/index.js
  actions/esbuild/package.json
  actions/esbuild/src/index.ts
  actions/ncc/dist/index.js
  actions/ncc/package.json
  actions/ncc/src/index.ts
  actions/rollup/dist/index.js
  actions/rollup/package.json
  actions/rollup/src/index.ts
  actions/rspack/dist/index.js
  actions/rspack/dist/index.js.map
  actions/rspack/package.json
  actions/rspack/src/index.ts
  actions/tsup/dist/index.js
  actions/tsup/package.json
  actions/tsup/src/index.ts
  actions/tsup/tsup.config.ts
  actions/webpack/dist/index.js
  actions/webpack/package.json
  actions/webpack/src/index.ts
  pnpm-lock.yaml
Labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: rollup, bundler: tsup, bundler: rspack, ðŸš¨ ci

feat(*): add inputs to action.yaml
  actions/esbuild/action.yaml
  actions/ncc/action.yaml
  actions/rollup/action.yaml
  actions/rspack/action.yaml
  actions/tsup/action.yaml
  actions/webpack/action.yaml
Labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: rollup, bundler: tsup, bundler: rspack

chore: update hello-world workflow with GitHub token input
  .github/workflows/hello-world.yaml
  scripts/update-hello-world-workflow.ts
Labels: ðŸš¨ ci

chore: Update permissions for GitHub actions workflows
  .github/workflows/hello-world.yaml
  scripts/update-hello-world-workflow.ts
Labels: ðŸš¨ ci

chore: update actions
  .github/workflows/hello-world.yaml
  actions/esbuild/dist/index.js
  actions/esbuild/package.json
  actions/esbuild/src/index.ts
  actions/ncc/package.json
  actions/ncc/src/index.ts
  actions/rollup/dist/index.js
  actions/rollup/package.json
  actions/rollup/src/index.ts
  actions/rspack/dist/index.js
  actions/rspack/dist/index.js.map
  actions/rspack/package.json
  actions/rspack/src/index.ts
  actions/tsup/dist/index.js
  actions/tsup/package.json
  actions/tsup/src/index.ts
  actions/webpack/action.yaml
  actions/webpack/dist/index.js
  actions/webpack/package.json
  actions/webpack/src/index.ts
  actions/webpack/tsconfig.json
  pnpm-lock.yaml
  scripts/update-hello-world-workflow.ts
  tsconfig.base.json
Labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: rollup, bundler: tsup, bundler: rspack, ðŸš¨ ci

chore: update node versions
  actions/esbuild/action.yaml
  actions/esbuild/package.json
  actions/esbuild/tsconfig.json
  actions/ncc/action.yaml
  actions/ncc/package.json
  actions/ncc/tsconfig.json
  actions/rollup/action.yaml
  actions/rollup/package.json
  actions/rollup/tsconfig.json
  actions/rspack/action.yaml
  actions/rspack/package.json
  actions/rspack/tsconfig.json
  actions/tsup/action.yaml
  actions/tsup/package.json
  actions/tsup/tsconfig.json
  actions/webpack/package.json
  package.json
  pnpm-lock.yaml
Labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: rollup, bundler: tsup, bundler: rspack

chore: update dist
  actions/ncc/dist/index.js
Labels: bundler: ncc

fix(rspack): remove type module
  actions/rspack/package.json
  actions/rspack/rspack.config.js
Labels: bundler: rspack

chore: update readme
  README.md
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

chore: ypdate readme
  README.md
Labels: none

chore(rspack): update rspack
  actions/rspack/dist/index.js
  actions/rspack/dist/index.js.map
  actions/rspack/package.json
  pnpm-lock.yaml
Labels: bundler: rspack

feat: add vite as bundler
  .github/workflows/hello-world.yaml
  actions/vite/action.yaml
  actions/vite/dist/index.mjs
  actions/vite/eslint.config.mjs
  actions/vite/package.json
  actions/vite/src/index.ts
  actions/vite/tsconfig.json
  actions/vite/vite.config.mts
  pnpm-lock.yaml
Labels: ðŸš¨ ci

.github/labeler.yml:

# See https://github.com/actions/labeler

"bundler: esbuild":
  - any:
      - actions/esbuild/**

"bundler: ncc":
  - any:
      - actions/ncc/**

"bundler: webpack":
  - any:
      - actions/webpack/**

"bundler: rollup":
  - any:
      - actions/rollup/**

"bundler: tsup":
  - any:
      - actions/tsup/**

"bundler: swc":
  - any:
      - actions/swc/**

"bundler: tsc":
  - any:
      - actions/tsc/**

"bundler: rspack":
  - any:
      - actions/rspack/**

"ðŸš¨ ci":
  - any:
      - ".github/workflows/**"
