Repository luxass/github-actions-bundlers, changes with the labels that .github/labeler.yml gives for each.
All labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: rollup, bundler: tsup, bundler: vite, bundler: rolldown, bundler: rspack, ðŸš¨ ci

.github/labeler.yml:

# See https://github.com/actions/labeler

"bundler: esbuild":
  - changed-files:
      - any-glob-to-any-file: actions/esbuild/**

"bundler: ncc":
  - changed-files:
      - any-glob-to-any-file: actions/ncc/**

"bundler: webpack":
  - changed-files:
      - any-glob-to-any-file: actions/webpack/**

"bundler: rollup":
  - changed-files:
      - any-glob-to-any-file: actions/rollup/**

"bundler: tsup":
  - changed-files:
      - any-glob-to-any-file: actions/tsup/**

"bundler: vite":
  - changed-files:
      - any-glob-to-any-file: actions/vite/**

"bundler: rolldown":
  - changed-files:
      - any-glob-to-any-file: actions/rolldown/**

"bundler: rspack":
  - changed-files:
      - any-glob-to-any-file: actions/rspack/**

ðŸš¨ ci:
  - any:
      - ".github/workflows/**"

chore: update readme
  README.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: none

chore: lint
  README.md
Labels: none

chore: lint
  .github/workflows/hello-world.yaml
  scripts/update-hello-world-workflow.ts
Labels: ðŸš¨ ci

chore: update readme
  README.md
Labels: none

chore: add notice in readme
  README.md
Labels: none

chore: add notice in readme
  README.md
Labels: none

chore: add quick start to readme
  README.md
Labels: none

fix(rolldown): change output.exports
  actions/rolldown/rolldown.config.mjs
Labels: bundler: rolldown

fix: use type module
  actions/esbuild/README.md
  actions/esbuild/action.yaml
  actions/esbuild/dist/index.js
  actions/esbuild/package.json
  actions/ncc/README.md
  actions/ncc/package.json
  actions/rolldown/README.md
  actions/rolldown/action.yaml
  actions/rolldown/dist/index.js
  actions/rolldown/package.json
  actions/rolldown/rolldown.config.mjs
  actions/rollup/README.md
  actions/rollup/action.yaml
  actions/rollup/dist/index.js
  actions/rollup/package.json
  actions/rollup/rollup.config.js
  actions/rollup/rollup.config.mjs
  actions/rspack/README.md
  actions/rspack/action.yaml
  actions/rspack/dist/index.js
  actions/rspack/dist/index.js.map
  actions/rspack/package.json
  actions/rspack/rspack.config.mjs
  actions/tsup/README.md
  actions/tsup/action.yaml
  actions/tsup/dist/index.js
  actions/tsup/package.json
  actions/tsup/tsup.config.ts
  actions/vite/README.md
  actions/vite/action.yaml
  actions/vite/dist/index.js
  actions/vite/package.json
  actions/vite/vite.config.ts
  actions/webpack/README.md
  actions/webpack/action.yaml
  actions/webpack/dist/index.cjs
  actions/webpack/package.json
  actions/webpack/webpack.config.mjs
Labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: rollup, bundler: tsup, bundler: vite, bundler: rolldown, bundler: rspack

chore: fix builds
  actions/esbuild/dist/index.cjs
  actions/rolldown/dist/index.cjs
  actions/rollup/dist/index.cjs
  actions/rspack/dist/index.cjs
  actions/rspack/dist/index.cjs.map
  actions/tsup/dist/index.cjs
  actions/vite/dist/index.cjs
Labels: bundler: esbuild, bundler: rollup, bundler: tsup, bundler: vite, bundler: rolldown, bundler: rspack

chore: remove noise in root readme
  README.md
Labels: none

docs: add links
  actions/esbuild/README.md
  actions/ncc/README.md
  actions/rolldown/README.md
  actions/rollup/README.md
  actions/rspack/README.md
  actions/tsup/README.md
  actions/vite/README.md
  actions/webpack/README.md
Labels: bundler: esbuild, bundler: ncc, bundler: webpack, bundler: rollup, bundler: tsup, bundler: vite, bundler: rolldown, bundler: rspack

chore: add config flag
  actions/webpack/package.json
Labels: bundler: webpack

fix(rspack): add type module
  actions/rspack/package.json
Labels: bundler: rspack

chore: debug
  actions/webpack/package.json
Labels: bundler: webpack

ci: add os to matrix
  .github/workflows/ci.yaml
Labels: ðŸš¨ ci

ci: remove node 18 from workflows
  .github/workflows/ci.yaml
Labels: ðŸš¨ ci
